body {
  background-color: rgb(232, 213, 213);

}

.container {
  background-color: white;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px 20px;
  box-shadow: 0 5px 15px black;
}

.center {
  text-align: center;
}

fieldset {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
}

fieldset legend {
  font-size: 1.3rem;
  font-weight: 600;
}

label {
  font-size: 1.2rem;
}

input:focus, textarea:focus {
  outline: none;
  border-color: black;
}

input:invalid, select:invalid, textarea:invalid {
  border-color: red;
}

input:valid, select:valid, textarea:valid {
  border-color: green;
}

button:hover {
  background-color: gray;
}

.radio-group input[type="radio"]:checked {
  border-color: green;
  background-color: green;
  box-shadow: 0 0 0 2px green;
}

.radio-group input[type="radio"]:checked + label {
  color: green;
}

input:first-of-type {
  border-radius: 5px;
}
